<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zlh.messagequeuedemo.mqserver.mapper.MetaMapper">
<!--  我们使用update进行建表操作  -->

<!--  创建交换机表，和我们的交换机类对应  -->
    <update id="createExchangeTable">
        create table if not exists exchange(
            name varchar(50) primary key ,
            exchange_type tinyint,
            is_permanent boolean,
            is_delete boolean,
            argument varchar(1024)
        )
    </update>

<!--  创建队列表  -->
    <update id="createQueueTable">
        create table if not exists queue(
            name varchar(50) primary key ,
            is_permanent boolean,
            exclusivel boolean,
            isDelete boolean,
            arguments varchar(1024)
        )
    </update>

<!--  创建绑定表  -->
    <update id="createBingdingTable">
        create table if not exists bingding(
            exchange_name varchar(50) primary key ,
            queue_name varchar(50),
            binding_key varchar(256)
        )
    </update>

<!--  插入与删除  -->
    <insert id="insertExchange" parameterType="org.zlh.messagequeuedemo.mqserver.core.Exchange">
        insert into exchange values (#{name},#{exchangeTtype},#{isPermanent},#{isDelete},#{argument})
    </insert>

    <delete id="deleteExchange" parameterType="java.lang.String">
        delete from exchange where name = #{exchangeName};
    </delete>

    <insert id="insertQueue" parameterType="org.zlh.messagequeuedemo.mqserver.core.MSGQueue">
        insert into queue values (#{name}, #{isPermanent}, #{exclusivel}, #{isDelete}, #{arguments});
    </insert>

    <delete id="deleteQueue" parameterType="java.lang.String">
        delete from queue where name = #{queueName};
    </delete>

    <insert id="insertBingding" parameterType="org.zlh.messagequeuedemo.mqserver.core.Bingding">
        insert into bingding values (#{exchangeName}, #{queueName}, #{bindingKey});
    </insert>

    <delete id="deleteBingding" parameterType="org.zlh.messagequeuedemo.mqserver.core.Bingding">
        delete from bingding where exchange_name = #{exchangeName} and queue_name = #{queueName};
    </delete>
</mapper>